<div class="card mx-auto" style="width: 40%; min-width: 200px; margin-top: 10%">
  <div class="card-header">
    <i class="bi-box-arrow-in-right"></i> Login
  </div>
  <div class="card-body">
    <h5 class="card-title">Bem Vindo!</h5>
    <p class="card-text">Seja bem vindo ao meu site :D</p>
    <p class="card-text">Por favor, faça login ou se cadastre:</p>
    <div class="btn-group d-flex" role="group">
      <%= link_to 'Entrar', '', class: 'btn btn-primary', method: 'get' %>
      <%= link_to 'Criar conta', '', class: 'btn btn-secondary', method: 'get' %>
    </div>
  </div>
</div>
