<div class="card mx-auto" style="width: 50%; min-width: 200px; margin-top: 1em">
  <%= image_tag @image.file, class: 'card-img-top' %>

  <div class="card-body">
    <h5 class="card-title"><%= @image.title %>!</h5>
    <div class="btn-group d-flex">
      <%= link_to 'Editar', edit_image_path(@image), class: 'btn btn-warning' %>
      <%= link_to 'Voltar', images_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
